<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>馬拉松跑者人流分析</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
<table id="runner_flow_analysis">
  <caption>
      <h2>馬拉松跑者人流分析</h2>
  </caption>
  
  <colgroup>
    <col span="1" style="background:yellow">
    <col span="5" style="background:green">   
    <col span="7" style="background:red">
  </colgroup>
  
  <thead>
    <tr>
      <th id="prediction_flow">預測人數</th>
      
      <th id="observed_time">現在觀察時間_24小時制 (hh:mm:ss)</th>
      <th id="distance">距離</th>
      <th id="runner">全馬參賽(或報名)人數</th>
      <th id="commence_time">鳴槍時間_24小時制 (hh:mm:ss)</th>
      <th id="duration">Duration (second)</th> 
      
      <th id="temp">溫度</th>
      <th id="hum">濕度</th>
      <th id="heatindex">熱中暑危險係數</th>
      <th id="AQI">空氣品質指標</th>
      <th id="PM">細懸浮微粒</th>
      <th id="WR">蒲福風級</th>
      <th id="rain">小時雨量</th>        
    </tr>
  </thead>
  
  <tfoot style="color:red">
    <tr>
      <td colspan="1">傳送完畢</td>
    </tr>
  </tfoot>
  
  <tbody>
    <tr>
      <td headers="prediction_flow">{{ prediction_flow }}</td>
      
      <td headers="observed_time">{{ observed_time }}</td>
      <td headers="distance">{{ distance }}</td>
      <td headers="runner">{{ runner }}</td>
      <td headers="commence_time">{{ commence_time }}</td>
      <td headers="duration">{{ duration }}</td>
            
      <td headers="temp">{{ temp }}</td>
      <td headers="hum">{{ hum }}</td>
      <td headers="heatindex">{{ heatindex }}</td>
      <td headers="AQI">{{ AQI }}</td>
      <td headers="PM">{{ PM }}</td>
      <td headers="WR">{{ WR }}</td>
      <td headers="rain">{{ rain }}</td>      
    </tr>
  </tbody>
</table>
</body>
</html>
